window {
	font-family: "Noto Sans Mono";
	margin: 5px;
	border: 3px solid #333333;
	background-color: #1a1a1a;
	border-radius: 10px;
}

#input {
	margin-bottom: 20px;
	border: none;
	color: #ffffff;
	background-color: #000000;
}

#inner-box {
	border: none;
	background-color: transparent;
}

#text {
	margin: 5px;
	border: none;
	color: #ffffff;
}

#entry:selected {
	background-color: #333333;
	border-radius: 5px;
	border: 2px solid;
}

#outer-box {
	margin: 20px;
}
